<img src="/assets/main.PNG" width="680px" height="550px" alt="아가사진"><br>
<h1>[성격유형검사]</h1>
<h2>어떤 아이가 <font color="blue" size="30px">여자아이</font>일까요?</h2>

<a href="chooseA">
    <button><h2>A</h2></button>
</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="chooseB">
    <button><h2>B</h2></button>
</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="chooseC">
    <button><h2>C</h2></button>
</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="chooseD">
    <button><h2>D</h2></button>
</a>