<h1>D를 선택한 당신!</h1>

<img src="/assets/D.PNG" width="680px" height="550px" alt="아가사진"><br>

<pre>
    <span style="font-size:3.5em; color: green;">「당신은 외유내강 스타일 입니다! 」</span>
</pre>

<pre><font size="6">
당신은 유한 성품을 타고난 부드러운 사람입니다. 
다른 사람을 배려하는 따뜻한 마음을 가지고 있어, 선한 시선으로 세상을 바라봅니다. 
인간 관계에 있어서도 상대방에게 맞춰주는 자상한 스타일입니다. 

정이 굉장히 많아, 언뜻 보기에 눈물도 많고 약해 보일 수 있는 당신은 사실 굉장히 강한 사람입니다. 

특히 스스로에게 굉장히 엄격해, 뛰어난 자기관리 능력을 가지고 있습니다.
자기가 정한 규칙이나 약속은 절대 어기지 않는 강한 정신력을 소유한 사람입니다. 이러한 타입은  </font>
<font color="blue" size="8"> 부하들을 따뜻하게 이끌어가는 존경받는 리더가 될 수 있습니다. </font>
</pre>