<h1>C를 선택한 당신!</h1>

<img src="/assets/C.PNG" width="680px" height="550px" alt="아가사진"><br>

<pre>
    <span style="font-size:3.5em; color: green;">「 당신은 눈치백단 입니다! 」</span>
</pre>

<pre><font size="6">
육감이 매우 발달한 당신은 타고난 눈치백단 입니다!

어떤 상황에 처하든 유연히 대처할 줄 알며, 눈치가 빨라 새로운 환경에도 빠르게 적응합니다. 
낯선 사람들과도 금방 친해질 수 있습니다. 

다른 사람이 어떻게 느끼고, 생각하고 있는지를 직감적으로 알아차리는데, 
이를 기반으로 사람들의 이야기를 잘 들어주어 공감과 신뢰를 얻어냅니다. 
그래서 사람들은 누구에게 말 못할 진지한 이야기도 당신에게는 유난히 쉽게 털어놓습니다. 

특유의 육감과 눈치로 다른 사람의 생각을 잘 파악하는 당신의 타고난 감각 덕분에 
사회생활을 매우 잘하는 스타일입니다.  </font>
<font color="blue" size="8">당신은 공적, 사적 대인관계 모두 원활한 인기쟁이입니다.</font>
</pre>