<h1>A를 선택한 당신!</h1>

<img src="/assets/A.PNG" width="680px" height="550px" alt="아가사진"><br>

<pre>
    <span style="font-size:3.5em; color: green;">「 당신은 합리주의자 입니다! 」</span>
</pre>

<pre><font size="6">
당신은 사회 규범을 잘 따르는 원칙주의자입니다. 
늘 이성적으로 판단하며, 
이유가 없거나 해결될 수 없는 이유로 인한 불화를 싫어하는 사람입니다. 

타인에 대해서 왜곡되지 않은 바른 시각을 고수하려 노력하며, 
최대한 많은 사람들이 행복하기를 바랍니다. 

당신의 바른 판단으로 다른 사람들이 행복해하는 모습을 보며 스스로도 만족감을 느끼곤 합니다. 
융통성은 있되, 최대한 합리적으로 원칙에 기반해 문제를 해결해나가는 센스를 가진</font>
<font color="blue" size="8">당신은 지혜로운 사람입니다.</font>
</pre>