<h1>[성향 진단]다음 중 여자 아이는 누구일까요?!</h1>
<h2>@@@선택의 기로에 선 당신@@@</h2>

<img src="http://ncc.phinf.naver.net/ncc01/2011/8/2/258/img_01.jpg?type=w646" width="680px" height="550px"><br>
<h2>시작할까요??</h2>
<a href="home/choose">
    <button><h2>Start!</h2></button>
</a>


